#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/intellij/idea-IC/bin/idea.png
Exec=/home/vagrant/misc_go_files/open_go_in_intellij.sh
Name[en_US]=Intellij Idea
Name=Intellij Idea
Icon=/opt/intellij/idea-IC/bin/idea.png
